@model IEnumerable<EasyFly.com.Models.FlightInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.From1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.E_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee1.E_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee2.E_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee3.E_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee4.E_Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.From1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.E_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee1.E_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee2.E_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee3.E_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee4.E_Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FlightID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FlightID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FlightID })
        </td>
    </tr>
}

</table>
